body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Navigation bar*/
.navbar {
    z-index: 999;
    overflow: hidden;
    background-color: #175a93;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar a:hover {
    background: #ffffff;
    color: #175a93;
    border-radius: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: justify;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar-left {
    display: flex;
    font-size: 3rem;
    font-family: "Roboto Condensed", cursive, monospace;
    padding-left: 15%;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Condensed', cursive, monospace;;
    font-weight: bold;
    font-size: 2rem;
    padding-right: 12%;
    margin-right: 10px;
}

#language-select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    font-family: 'Roboto Condensed', cursive, monospace;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    background-color: #175a93;
    color: #ffffff;
    cursor: pointer;
    bottom: 10px;
}

#language-select option:hover {
    background-color: #ffffff;
    color: #175a93;
}

/* Dark mode + toggle*/
.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 50px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    left: 0px;
    bottom: -5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    content: '✹';
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked + .slider {
    background-color: #6b6b6b;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #6b6b6b;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    background-color: #1a1a1a;
    content: '☾';
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Content */
.content{
    position: relative;
    top: 100px;
    left: 50px;
    width: 1000px;
    height: 5000px;
    font-size: 20px;
    font-family: 'Roboto Condensed', cursive, monospace;
    padding-left: 20%;
    padding-top: 20px;
}

/* Cookie notice*/
.cookie-notice {
    position: fixed;
    bottom: 2%;
    left: 30%;
    padding: 5px 15px;
    width: 40%; /*550px;*/
    color: #ffffff;
    background-color: #175a93;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', cursive, monospace;
}

.cookie-notice a {
    color: #ffffff;
    font-weight: bold;
}

.cookie-button {
    position: relative;
    left: 35%;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', cursive, monospace;
}